<!DOCTYPE html>
<html>
<head>
    <title>Books App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body style="background-color:#4DB6AC;">
<nav class="navbar navbar-light" style="background-color:#FF0033;">
    <a href="#" class="navbar-brand" style="background-color:#FFCC33;color:#000000;border-width:10px;border-color:#FFCC33;border-style:solid;border-spacing:30px;border-radius: 5px;">Bibliotheque application</a>
    <a class="navbar-link btn-lg" href="{% url 'index' %}" style="background-color:#FFCC33;color:#000000;">Données</a>
<a href="{% url 'admin:index' %}" class = 'navbar-link btn-lg' style="background-color:#FFCC33;color:#000000;">Admin</a>
    <a href="{% url 'ajouter' %}" class="navbar-link btn-lg" style="background-color:#FFCC33;color:#000000;">Créer Livre</a>
</nav>
<br>
{% block content %}
<div class="card-columns">
    {% for book in lister_livre %}
    <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{ book.photo.url }}" alt="Désolé j'arrive pas à recupérer l'URL de la photo">
  <div class="card-body">
    <h5 class="card-title">{{ book.nom }}</h5>
    <p class="card-text">{{ book.description }}</p>
   <div class="card-footer bg-transparent border-dark">
   <p class="card-title">{{book.auteur}}</p>
   <center>
       <a href="modifier/{{book.id}}" class="btn btn-warning" id = '{{book.id}}'>Modifier</a>
       <a href="supprimer/{{book.id}}" class="btn btn-danger" id = '{{book.id}}'>Supprimer</a>
    </center>
    </div>
  </div>
</div>
    {% endfor %}
</div>
{% endblock %}
</body>
</html>
